blinker==1.8.2
cffi==1.16.0
click==8.1.7
cryptography==42.0.7
Faker==25.2.0
faker_airtravel==0.4
Flask==3.0.3
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pycparser==2.22
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
Werkzeug==3.0.3
