{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Flask + OAuth 2.0 Demo</a>
    </div>
</nav>
<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
        <script>window.location.href = "{{ url_for('HOMEPAGEBLUEPRINT.home') }}";</script>
    {% else %}
    <p>
        <a class="btn btn-primary" href="{{ url_for('OAUTHBLUEPRINT.oauth2_authorize', provider='google') }}">Login with Google</a>
        <a class="btn btn-primary" href="{{ url_for('OAUTHBLUEPRINT.oauth2_authorize', provider='github') }}">Login with GitHub</a>
    </p>
    {% endif %}
</div>
{% endblock %}